body {
    margin: 0;
    padding: 0;
}
.father {
    width: 600px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    }
.Widgets{
    width: 100%;
    height: 30%;
    background:orchid;
}

    .mother {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: space-between;

    }

    .contact {
        width: 100%;
        height: 45%;
        background:orchid;
        display: flex;

    }

    .Widgets,.block,.contact {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:25px;
        color: ghostwhite;
    }
    .block {
        width: 30%;
        height: 100%;
        background: dodgerblue;

    }





    


























